.mybutton
{
	position: fixed;
top: 0;
right: 0;
}
.mybutton{
	background-color: transparent;
border-color: transparent;
}
.mybutton:hover
{
	background-color: transparent;
border-color: transparent;

}
.mybutton:focus, .mybutton:active:focus, .mybutton.active:focus {
    background-color: transparent;
border-color: transparent;

}
.list
{
	background-color: white;
 }
 .title{
 	margin: 10px;
text-align: center;
font-size: 25px;
 }
.price
{
	text-align: center;
}
.modal-content
{
	border-radius: 0px;
}
.modal-header
{
	padding: 25px;
	background-color: #331d35;
	color: white;
}
.close
{
	font-size: 35px;
	color: white;
}
.modal-title
{
	font-size: 30px;
	text-align: center;
	font-weight: 300;
}
.myc
{
	margin-top: 25px;
background: white;
padding: 30px;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.container{
width: 50%;
background: white;
margin-top: 20px;
margin-bottom: 20px;
}
.alert{
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.link-1
{
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	margin: 10px;
}
.link-1:hover{
	color: white;
}


