 {% extends "base.html" %}

 {% load crispy_forms_tags %}
 {% block content %}
 <!-- Modal -->
 <header class="cd-header">
		<h1>Add Product</h1>
		<a class="link-1" href="/">View Product</a>
	</header>
	
	 {% for message in messages %}
	 {% if message.tags == 'error' %}
	 
	<div class="alert alert-danger alert-dismissable">
	 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>Error!</strong> Product Already Exist.
	</div>
	 {% else %}
	<div class="alert alert-success alert-dismissable">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>Success!</strong> {{ message }}
	</div>
	{% endif %}
	{% endfor %}


 <div class="container">

     
        <form method="POST" action="/addproduct">
        
        <div class="modal-body">
        	{% csrf_token %}
			{{form|crispy}}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default" value="submit">Submit</button>
        </div>
        </form>
     </div>
{% endblock %}
